{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div class="homepage">
            <!-- HOME 1 -->
            <section class="filler">
                <div class="home1 container">
                    <div class="home__information">
                    <div class="home__title">
                    <h1>Hi, I'm Dijana - fine art painter and journalist.</h1>
                    <p>Using oil I evoke the realism of portraits, and with palette knives I evoke the abstraction of shapes, lines and enhance the rhythmicity of the painting. </p>
                    </div>
                    <div class="home__button">
                    <div class="triple-deco-container">
                        <div class="triple-deco-content">
                        <a href="Gallery.html">Explore paintings</a>
                        </div>
                        <div class="triple-deco-tall"></div>
                        <div class="triple-deco-mid"></div>
                        <div class="triple-deco-wide"></div>
                    </div>
                    </div>
                    </div>
                    <div class="home__image">
                    <div id="slideshow_wrapper">
                        <ul class="slideshow">
                        <li>Slide01</li>
                        <li>Slide02</li>
                        <li>Slide03</li>
                        <li>Slide04</li>
                        <li>Slide05</li>
                        </ul>
                    </div>

                    <!-- <img class="front__image" src="images/In_stock/Flower_dance.jpg" alt=""> -->
                    </div>
                </div>
                <div class="pattern__container">
                    <div class="artdeco__backgroung"></div>
                </div>
            </section>

            <!-- HOME 2 -->
            <section>
            <div class="home2 container">
                <div class="home2__title_container">
                <div class="home2__title">
                    <h2>I mostly paint on canvas, but I also like to draw on other objects.</h2>
                </div>
                </div>
                <div class="home__icons">
                <div class="objects__icons">
                    <img src="images/icons/ikona_slika.svg" alt="">
                    <div class="home__icons__text">
                    <h4>Paintings</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, animi?</p>
                    </div>
                </div>
                <div class="objects__icons">
                    <img src="images/icons/ikona_salica.svg" alt="">
                    <div class="home__icons__text">
                    <h4>Caps</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, animi?</p>
                    </div>
                </div>
                <div class="objects__icons">
                    <img src="images/icons/ikona_plakat.svg" alt="">
                    <div class="home__icons__text">
                    <h4>Posters</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, animi?</p>
                    </div>
                </div>
                <div class="objects__icons">
                    <img src="images/icons/ikona_majca.svg" alt="">
                    <div class="home__icons__text">
                    <h4>T-shirt</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, animi?</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="list_bg">
                <div class="artdeco__list"></div>
            </div>
            </section>

            <!-- HOME 3 -->
            <section>
            <div class="home3 container-2-50">
                <div class="container">
                <h3>Important features</h3>
                <h4>Style:</h4>
                <p>Surrealism, figurative, portraiture, impressionism, modern, pop art</p>
                <h4>Technique:</h4>
                <p>Oil, gesso, acrylic, ink, watercolor, gouache, charcoal</p>
                <h4>Dimensions:</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="home__gallery">
                <div class="gallerySlider">
                    <div class="gallery__news">
                    <div class="title__line__light">
                        <h3>Galerija</h3>
                        <span></span>
                    </div>
                    <div class="gallery__items gallery__img__popup">
                        <div class="item"><a href="images/Mockup/mockup_2_Alter_ego.jpg"><img src="images/Mockup/mockup_2_Alter_ego.jpg" alt=""></a></div>
                        <div class="item"><a href="images/In_stock/Alice_is_meeting_Mr.Rabbit.jpg"><img src="images/In_stock/Alice_is_meeting_Mr.Rabbit.jpg" alt=""></a></div>
                        <div class="item"><a href="images/In_stock/Alter_ego.jpg"><img src="images/In_stock/Alter_ego.jpg" alt=""></a></div>
                        <div class="item"><a href="images/In_stock/Before_the_storm.jpg"><img src="images/In_stock/Before_the_storm.jpg" alt=""></a></div>
                        <div class="item"><a href="images/In_stock/Angry_Geisha.jpg"><img src="images/In_stock/Angry_Geisha.jpg" alt=""></a></div>
                        <div class="item"><a href="images/In_stock/Before_the_storm.jpg"><img src="images/In_stock/Before_the_storm.jpg" alt=""></a></div>
                        <div class="item"><a href="images/In_stock/CAMOUFLAGE.jpg"><img src="images/In_stock/CAMOUFLAGE.jpg" alt=""></a></div>
                    </div>
                    <div class="pagination">
                        <div id="prev-1" class="button__light__pagination"><p>Prev</p></div>
                        <div id="page-1" class="label__light__pagination"><p>Page <span id="page-num-1"></span></p></div>
                        <div id="next-1" class="button__light__pagination"><p>Next</p></div>
                    </div>
                    </div>
                </div>
                <!-- <img class="home__gallery__image" src="images/Mockup/mockup_1_Alter_ego.jpg" alt="">
                <div class="gallery__navigation">
                    <img src="images/icons/arrow_right.svg" alt="">
                    <img src="images/icons/arrow_left.svg" alt="">
                </div> -->
                </div>
            </div>
            <div class="pattern__container">
                <div class="artdeco__backgroung"></div>
            </div>
            </section>

            <!-- HOME 4 -->
            <section>
            <div class="home4 container">
                <div class="container-2-50">
                <article>
                    <h3>I paint with oil, acrylic and watercolors usually on cotton or linen canvas.</h3>
                    <p>I am painting mostly in the manner of abstract realism, contrasting two seemingly incompatible concepts, abstract art and realistic art. Abstract art does not refer to real objects. By abstract use of a lines, shapes, colors, texture and pattern, I create movement, give rhythm, evoke emotions. Realism tries to capture moments from real life and time or the personality of individuals or nature that resemble real life.</p>
                </article>
                <img src="images/avatar/women_studio_painting.jpg" alt="">
                </div>
                <div class="triple-diamond-deco-container">
                <div class="left-line"></div>
                <div class="right-line"></div>
                <div class="small-diamond-left"></div>
                <div class="small-diamond-right"></div>
                <div class="large-diamond"></div>
                </div>
                <div class="container-2-50">
                <img src="images/In_stock/Croatian_abstract.jpg" alt="">
                <article>
                    <h3>Looking for a balance of values ​​of size and shape</h3>
                    <p>Focused on design elements and principles to visually express feelings, thoughts and my own experiences. Focusing to create a balance of values ​​and sizes or shapes and lines. Painting is like beautiful music to me, if I were to put myself in genres, my painting is pure, good, soul and blues.</p>
                </article>
                </div>
            </div>
            </section>
        </div>
    </main>
{% endblock %}